<table class="table table-striped table-hover table-bordered">
	<thead>
		<tr>
			<th scope="col">No.</th>
			<th scope="col">Title</th>
			<th scope="col">Content</th>
			<th scope="col">Options</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let note of notes; let i = index">
			<th scope="row">{{ i + 1 }}</th>
			<td>{{ note.title }}</td>
			<td>{{ note.content }}</td>
			<td class="nm-btn-group">
				<a href="#" title="Edit"
					(click)="onEditNote(note.id)"
				>
					<img src="./../../../assets/images/edit.png">
				</a>
				<a href="#" title="Delete"
					(click)="onDeleteNote(note.id); $event.preventDefault();"
				>
					<img src="./../../../assets/images/trash.png">
				</a>
			</td>
		</tr>
	</tbody>
</table>