<div class="card">
	<h5 class="card-header">Add new note !</h5>
	<div class="card-body">
		<div class="form-group">
		    <label>Title</label>
		    <input type="text" class="form-control" name="title">
	  	</div>
		<div class="form-group">
		    <label>Content</label>
		    <textarea class="form-control" name="content"></textarea>
		</div>
		<div class="btn-group nm-btn-group">
			<a href="#" title="Cancel"><img src="./../../../assets/images/cancel.png"></a>
			<a href="#" title="OK"><img src="./../../../assets/images/checked.png"></a>
		</div>
	</div>
</div>