<div class="card">
	<h5 class="card-header">Add new note !</h5>
	<div class="card-body">
		<div class="form-group">
		    <label>Title</label>
		    <input type="text" 
		    	class="form-control" 
		    	[(ngModel)]="title"
		    >
	  	</div>
		<div class="form-group">
		    <label>Content</label>
		    <textarea class="form-control"
				 [(ngModel)]="content"
		    ></textarea>
		</div>
		<div class="nm-btn-group">
			<button class="btn btn-secondary">Cancel</button>
			<button class="btn btn-info"
				(click)="addNote()"
			>
				Add
			</button>
		</div>
	</div>
</div>