<div class="card">
	<h5 class="card-header">{{ titleForm }}</h5>
	<div class="card-body">
		<form>
			<div class="form-group">
			    <label>Title</label>
			    <input type="text" 
			    	class="form-control" 
			    	[(ngModel)]="title"
			    	[ngModelOptions]="{standalone: true}"
			    	value="{{ currentNote?.title }}"
			    >
		  	</div>
			<div class="form-group">
			    <label>Content</label>
			    <textarea class="form-control"
					[(ngModel)]="content"
					[ngModelOptions]="{standalone: true}"
					value="{{ currentNote?.content }}"
			    >
			    </textarea>
			</div>
			<div class="nm-btn-group">
				<button class="btn btn-secondary">Cancel</button>
				<button class="btn btn-info"
					(click)="addNote()"
				>
					Add
				</button>
				<!-- <input type="reset"
				 	class="btn btn-info"
					(click)="addNote()"
					value="Add" 
				> -->
			</div>
		</form>
	</div>
</div>